.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #333;
  padding: 80px 0;
}
/* .tittle {
  position: relative;
  font-size: 6em;
  color: #444;
  padding: 40px 0;
}
.tittle::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #fff;
  animation: animateSkills 8s linear infinite;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}
@keyframes animateSkills {
  0%,10%,100% {
    width: 0;
  }
  70%,90% {
    width: 100%;
  }
} */
.container-skills {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.scan {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.scan .html,
.scan .css,
.scan .react,
.scan .js,
.scan .cmas,
.scan .c {
  position: relative;
  width: 200px;
  height: 200px;
  background-size: 200px;
}
.html {
  background: url(/images/html.png);
}
.css {
  background: url(/images/css-3.png);
}
.react {
  background: url(/images/react.png);
}
.js {
  background: url(/images/java-script.png);
}
.cmas {
  background: url(/images/c++-logo.png);
}
.c {
  background: url(/images/c-logo.png);
}
.scan .html::before,
.scan .css::before,
.scan .react::before,
.scan .js::before,
.scan .cmas::before,
.scan .c::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: 200px;
  overflow: hidden;
  animation: animateScan 4s ease-in-out infinite;
}
.html::before {
  background: url(/images/html2.png);
}
.css::before {
  background: url(/images/css-3-2.png);
}
.react::before {
  background: url(/images/react2.png);
}
.js::before {
  background: url(/images/java-script2.png);
}
.cmas::before {
  background: url(/images/c++-logo2.png);
}
.c::before {
  background: url(/images/c-logo2.png);
}
@keyframes animateScan {
  0%,100% {
    height: 20px;
  }
  50% {
    height: calc(100% - 20px);
  }
}
.scan .html::after,
.scan .css::after,
.scan .react::after,
.scan .js::after,
.scan .cmas::after,
.scan .c::after {
  content: '';
  position: absolute;
  inset: 20px;
  width: calc(100% - 40px);
  height: 2px;
  background: #35fd5c;
  filter: drop-shadow(0 0 20px #35fd5c) drop-shadow(0 0 60px #35fd5c);
  animation: animateLine 4s ease-in-out infinite;
}
@keyframes animateLine {
  0% {
    top: 20px;
  }
  50% {
    top: calc(100% - 20px);
  }
}
.border {
  position: absolute;
  inset: 0;
  background: url(/images/border.png);
  background-size: 200px;
  background-repeat: no-repeat;
  animation: animateText 0.5s linear infinite;
}
.scan h3 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #fff;
  letter-spacing: 2px;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 60px #fff);
  animation: animateText 0.5s steps(1) infinite;
}
@keyframes animateText {
  0%,100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}