.bottomNavigationBar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* min-height: 100px; */
  /* min-height: 100vh; */
  background: transparent;
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 2;
}
.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.menuToggleOpenDark,
.menuToggleClosedDark,
.menuToggleOpenLight,
.menuToggleClosedLight {
  position: relative;
  width: 65px;
  height: 65px;
  background: #ff4886;
  /* border: 5px solid rgba(0,0,0,0); */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(-30px);
  transition: 0.5s;
}
.menuToggleOpenLight,
.menuToggleClosedLight {
  background: #00bcd4;
}
.menuToggleOpenDark::before,
.menuToggleClosedDark::before,
.menuToggleOpenLight::before,
.menuToggleClosedLight::before {
  content: '+';
  position: absolute;
  font-size: 3em;
  font-weight: 200;
  color: #fff;
  transition: 1.5s;
}
.menuToggleClosedDark:before,
.menuToggleClosedLight:before {
  transform: rotate(225deg);
}
.menuToggleOpenDark i,
.menuToggleClosedDark i,
.menuToggleOpenLight i,
.menuToggleClosedLight i {
  position: absolute;
  inset: 0;
}
/* .menuToggleOpenDark i::before,
.menuToggleClosedDark i::before {
  content: '';
  position: absolute;
  top: 22px;
  left: -23px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 3px -6px #333;
}
.menuToggleOpenDark i::after,
.menuToggleClosedDark i::after {
  content: '';
  position: absolute;
  top: 22px;
  right: -23px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -3px -6px #333;
} */
.menuDark,
.menuLight {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 70px;
  transform: translateY(-30px);
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s,0.5s,0.5s;
}
.menuLight {
  background: rgb(111, 103, 103);
}
.menuToggleClosedDark ~ .menuDark,
.menuToggleClosedLight ~ .menuLight {
  width: 360px;
  height: 70px;
  transform: translateY(0px);
  transition-delay: 0s,0.5s,0.5s;
}
.menuDark ul,
.menuLight ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  line-height: 80px;
}
.menuDark ul li,
.menuLight ul li  {
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  transition-delay: calc(0s);
  transform: translateY(-30px);
}
.menuToggleClosedDark ~ .menuDark ul li,
.menuToggleClosedLight ~ .menuLight ul li {
  opacity: 1;
  visibility: visible;
  transition-delay: calc(0.75s);
  transform: translateY(0px);
}
.menuDark ul li:nth-child(3),
.menuLight ul li:nth-child(3) {
  width: 30px;
}
.menuDark ul li a,
.menuLight ul li a {
  display: block;
  font-size: 2em;
  color: #555;
}
.menuLight ul li a {
  color: #fff;
}
.menuDark ul li:hover a,
.menuLight ul li:hover a {
  color: #ff4886;
}
.menuLight ul li:hover a {
  color: #00bcd4;
}
